
body {
    line-height: 1;
    font-size: 20px/32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d1cfcf;
    background-image: url(webb-dark.png);
    color: #353232;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: #dedaad;
}

header {
    padding: 20px;
    padding-bottom: 5px;
}

header .judul {
    margin: 5px 0;
    padding-left: 5px;
    font-size: 45px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 2px;
    padding-bottom: 20px;
    border-bottom: 5px solid #6e7a31;
}

nav ul li {
    display: inline;
}

header a {
    text-decoration: none;
    color: #414016;
    padding: 8px;
}

header a:hover {
    background-color: #414016;
    color: #ffffff;
}

.about {
    margin-top: 18px;
    padding: 0 20px;
    padding-top: 0px;
    font-size: 29px;
}

.hero {
    height: 200px;
    background-image: url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    background-size: cover;
    background-position: 0 -180px;
}

article {
    padding: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 14px;
}

footer {
    background-color: #6e7a31;
    padding: 10px;
}

footer .copy {
    color: #d1cfcf;
    text-align: center;
    font-size: 11px;
}
